.wrapper {
    display: flex;
    flex-direction: column;
  }

  .blog {
    flex-grow: 1;
  }
  
  @media (min-width: 992px) { 
    .wrapper {
      flex-direction: row;
    }
    .blog {
      padding: 0 5em;
    }
  }